.no-account {
    display: flex;
    width: fit-content;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
}

.no-account > p {
    margin: 0;
    padding: 0;
    margin-right: 0.5rem;
}

.no-account > a {
    color: var(--color-primary);
}