.form-body {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.form-body > * {
    display: contents;
}

.form {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.form > * {
    padding: 0.8rem;
    color: var(--color-white);
}

.form-intro > * {
    display: inline;
}

.form-intro > p {
    color: var(--color-white);
}

.form-title {
    text-align: center;
    padding: 1rem 0 0.4rem 0;
    display: flex;
    justify-content: space-around;
}

.send-form {
    display: flex;
    margin-left: auto;
    margin-right: auto;  
}

.form-image-edition {
    max-width : 50%;
    height: auto;
}

.form-line {
    width: 80%;
    height: 1px;
    padding: 0rem;
    background-color: var(--color-light);
    margin: 1rem 0 1rem 0;
    margin-left: auto;
    margin-right: auto;
}

.form-title-h2 {
    color: var(--color-primary);
    font-size: 120%;
}

.form-text {
    font-size: 80%;
    margin: 0.6rem 0 0 0;
    padding: 0 0 0 0;
}

.form-component {
    display: grid;
}

input, textarea {
    margin: 0.6rem 0 0 0;
}

textarea {
    resize: none;
}

.checkbox-atc {
    margin-bottom: 1.2rem;
}

.checkbox-atc > label {
    margin-left: 0.5rem;
}

.send-form {
    background-color: var(--color-primary);
    padding: 1rem 1rem 1rem 1rem;
    color: var(--color-bg);
}

.send-form:hover {
    background-color: var(--color-primary-variant);
    cursor: pointer;
}

/* =========== LOGIN =========== */

.no-account {
    display: flex;
    width: fit-content;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
}

.no-account > p {
    margin: 0;
    padding: 0;
    margin-right: 0.5rem;
}

.button-login {
    display: grid;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    color: var(--color-primary-variant);
    background-color: var(--color-primary);
    width: 10rem;
    height: 2rem;

}

.button-login:hover {
    background-color: var(--color-primary-variant);
    color: var(--color-primary);
    cursor: pointer;
}

.button-logout {
    display: grid;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    color: var(--color-primary);
    background-color: var(--color-bg);
    width: 7rem;
    height: 2rem;
    margin-bottom: 2rem;
}

.button-logout:hover {
    cursor: pointer;
    color: var(--color-primary-variant);
}

/* =========== JEU>PARTICIPANT =========== */

.participant {
    width: 50%;
}

.participant-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.participant > input {
    margin-bottom: 1rem;
}

.add-admin, .add-student, .rm-admin, .rm-student {
    margin-left: 0.8rem;
}

.add-student, .add-admin{
    background-color: green;
}

.rm-student, .rm-admin {
    background-color: red;
    color: white;
    padding: 1rem;
    width: fit-content;
    margin: auto;
}

.add-student:hover, .add-admin:hover, .rm-student:hover, .rm-admin:hover {
    cursor: pointer;
}

/* =========== ADMINISTRATION =========== */

.admin-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    column-gap: 3rem;
    width: fit-content;
    margin: 2rem auto 0 auto;
    padding-bottom: 2rem;
}

/* =========== MEDIA QUERIES (MEDIUM DEVICES) =========== */

@media screen and (max-width: 1024px) {
}

/* =========== MEDIA QUERIES (SMALL DEVICES) =========== */

@media screen and (max-width: 600px) {
    .form {
        padding: 0 0.8rem 0 0.8rem;
    }
}