/* =========== TOP =========== */

.home-intro-title {
    font-size: 4rem;
}

.home-intro-subtitle {
    margin-top: 0.6rem;
    font-size: 1.2rem;
}

.home-intro-text {
    margin-top: 0.6rem;
    font-size: 1.2rem;
}

.card > h2 {
    font-size: 1.5rem;
    font-weight: 100;
    margin-top: 1.2rem;
}

.home-banner {
    margin: 1.2rem 0 1.2rem 0;
    display: flex;
    justify-content: center;
}

.home-banner > img {
    max-width : 30%;
    height: auto;
}

.highlight-game-desc {
    padding-bottom: 0rem;
    margin-bottom: 1.2rem;
}

/* =========== MEDIA QUERIES (MEDIUM DEVICES) =========== */

@media screen and (max-width: 1024px) {
}

/* =========== MEDIA QUERIES (SMALL DEVICES) =========== */

@media screen and (max-width: 600px) {
    .home-banner > img {
        max-width: 80%;
    }
}