.jeux-titre {
    color: var(--color-primary);
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

.jeux-année {
    margin-top: ;
}

.jeux-titre:hover {
    color: var(--color-primary-variant);
}

.jeux-description {
    color: var(--color-light);
    margin-bottom: 0.6rem;
}

.jeux-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: fit-content;
    margin-left: 15rem;
    margin-top: 1.6rem;
}

.jeux-item {
    /*height: 23.2rem;
    background-color: var(--color-primary-variant);*/
    display: flex;
    grid-template-columns: repeat(2, 1fr);
}

.jeux-image {
    width: 146px;
    height: 146px;
    /*border: solid 3px;*/
    border-color: var(--color-primary);
    transition: var(--transition);
}

.jeux-image:hover {
    padding: 0.3rem;
}

.jeux-text {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

.jeux-ligne {
    background-color: var(--color-light);
    height: 1px;
    width: 80%;
    margin: 1.2rem 0 1.2rem 0;
}

/* =========== MEDIA QUERIES (MEDIUM DEVICES) =========== */

@media screen and (max-width: 1024px) {
    .jeux-container {
        gap: 4rem;
        row-gap: 2rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .jeux-ligne {
        width: 50%;
    }
}

/* =========== MEDIA QUERIES (SMALL DEVICES) =========== */

@media screen and (max-width: 600px) {
    .jeux-container {
        gap: 2rem;
    }

    .jeux-image {
        width: 9rem;
        height: 9rem;
    }
}