.game-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: fit-content;
    margin: 1.6rem 0 0 18rem;
}

.game-item {
    /*height: 23.2rem;
    background-color: var(--color-primary-variant);*/
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    max-width: 90%;
}

.game-item > * {
    word-wrap:break-word;
}

.game-title {
    color: var(--color-primary);
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    word-wrap: break-word;
}

.game-title:hover {
    color: var(--color-primary-variant);
}

.game-desc {
    color: var(--color-light);
    margin-bottom: 0.6rem;
    word-wrap: break-word;
}

.game-image {
    width: 200px;
    height: 200px;
    /*border: solid 3px;*/
    border-color: var(--color-primary);
    transition: var(--transition);
}

.game-image:hover {
    transform: scale(95%);
}

.game-text {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

.game-line {
    background-color: var(--color-light);
    height: 1px;
    width: 80%;
    margin: 1.2rem 0 1.2rem 0;
}

.game-year {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-bottom: 0.6rem;
}

/* =========== MEDIA QUERIES (MEDIUM DEVICES) =========== */

@media screen and (max-width: 1024px) {
    .game-container {
        gap: 4rem;
        row-gap: 2rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .game-line {
        width: 50%;
    }
}

/* =========== MEDIA QUERIES (SMALL DEVICES) =========== */

@media screen and (max-width: 600px) {
    .game-container {
        gap: 2rem;
    }

    .jeux-image {
        width: 9rem;
        height: 9rem;
    }

    .game-title {
        max-width: 80%;
    }

    .game-desc {
        max-width: 80%;
    }
}