.one-game-container {
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 2rem;
    padding: 3rem;
}

.one-game-image-container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one-game-image {
    width: 100%;
    border-radius: 0rem;
    padding: 1rem;
}

.one-game-text-container {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one-game-text-container > * {
    width: 100%;
    word-wrap:break-word;
}

.one-game-text > * {
    margin-bottom: 1rem;
}

.student-container > section > h2 {
    margin-bottom: 0.4rem;
}

.one-game-video-container {
    height: 40rem;
}

.one-game-video {
    margin: auto;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.one-game-title {
    display: flex;
}

/* =========== Étudiant =========== */

.student {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-size: 90%;
    text-align: left;
}

/* =========== MEDIA QUERIES (MEDIUM DEVICES) =========== */

@media screen and (max-width: 1024px) {
    .one-game-container {
        padding: 2rem;
        grid-template-columns: 1fr;
    }

    .one-game-video {
        width: 85%;
        height: 60%;
    }

    .one-game-image-container {
        margin: 0 2.5rem 0 2.5rem;
    }
}

/* =========== MEDIA QUERIES (SMALL DEVICES) =========== */

@media screen and (max-width: 600px) {
    .one-game-container {
        padding: 1rem;
    }
    .one-game-text-container {
        padding-bottom: 0rem;
    }

    .one-game-video {
        width: 85%;
        height: 40%;
    }

    .one-game-image-container {
        margin: 0 2rem 0 2rem;
    }
}