.calendar-majic {
    display: flex;
    margin-top: 1rem;

}

.calendar-majic > * {
    margin-left: auto;
    margin-right: auto;
    width: 70%; 
    height: 40rem;
}

.calendar-title {
    margin: auto;
    width: fit-content;
    margin-top: 1.8rem;
}